include mixins

header
	.mobile-nav-toggle
		span
		
	nav.navbar
		.wrapped
				
			.nav-logo
				a(href='/'): img(src='Assets/img/Sea-Plum_logo.jpg', alt='Sea-Plum Logo')
			
			+navlinks
			
	.hero-img
		img(src='Assets/img/Sea-Plum_Home_Hero.jpg', alt='Sky view of Seattle and the Ferris Wheel')