include mixins

header
	.mobile-nav-toggle
		span
		
	nav.navbar
		.wrapped
				
			.nav-logo
				a(href='/'): img(src='Assets/img/plum_icon.svg', alt='Sea-Plum Logo')
			
			+navlinks
			
	.hero-img
		.title
			h2 What is Sea-Plum?
			
		a(href="#wrapper") Learn More