.back-to-top
	background: $purple url('../img/up-arrow.png') no-repeat center 43%
	border-radius: 50%
	cursor: pointer
	display: none
	opacity: 0.25
	+position(fixed, null 20px 10px null)
	+size(60px)
	text-indent: -9999px
	z-index: 999

	&:hover
		opacity: 1