doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Your page title here :)
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='Assets/css/main.css')
		link(rel='icon', type='image/png', href='Assets/img/favicon.ico')
	body
		.container
			h4 Basic Page
			p.
				This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the a(href='//www.getskeleton.com') Skeleton documentation.
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')		
		script(src='Assets/js/script.js')