doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Sea-Plum
		meta(name='description', content='')
		meta(name='author', content='Sea-Plum')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='./Assets/css/main.sass')
		link(rel='icon', type='image/png', href='Assets/img/favicon.ico')
	body.site
		include Assets/includes/header
		#wrapper.container
			p.intro-para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quidem expedita ea omnis laboriosam! Fuga aliquid perferendis, asperiores in, sint accusantium iste, dolorem laboriosam facilis sequi blanditiis rerum eum, dolorum minima! Mollitia ducimus aut provident, nam. Neque quae tempore ab.
			p.intro-para Voluptatibus ipsam quo, quisquam totam. Adipisci facere, deleniti nobis earum cum atque molestiae dignissimos magnam animi obcaecati harum tempore dicta laudantium corporis amet porro quasi repellat illo mollitia, architecto reiciendis ad eum. Facilis, repellendus. Sed tempore, exercitationem quia cupiditate non.
			p.intro-para Blanditiis praesentium quibusdam fugit sapiente necessitatibus accusamus aut eius perferendis fuga minus maiores nostrum, magnam, excepturi nesciunt. Laudantium culpa ex repellendus voluptatum eaque minima ad nulla quaerat iusto amet a, aliquam numquam tempora id mollitia ducimus, delectus! Fugiat, dolores iusto.

		include Assets/includes/footer
		include Assets/includes/backtotop

		script(src='//code.jquery.com/jquery-2.1.4.min.js')
		script(src='Assets/js/script.js')