@font-face {
  font-family: 'Noto Sans';
  src: url('./Assets/css/1-tools/web_fonts/notosans_regular_macroman/NotoSans-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Assets/css/1-tools/web_fonts/notosans_regular_macroman/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/css/1-tools/web_fonts/notosans_regular_macroman/NotoSans-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Assets/css/1-tools/web_fonts/notosans_regular_macroman/NotoSans-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Assets/css/1-tools/web_fonts/notosans_regular_macroman/NotoSans-Regular-webfont.svg#svgSinkinSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./Assets/css/1-tools/web_fonts/notosans_italic_macroman/NotoSans-Italic-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Assets/css/1-tools/web_fonts/notosans_italic_macroman/NotoSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/css/1-tools/web_fonts/notosans_italic_macroman/NotoSans-Italic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Assets/css/1-tools/web_fonts/notosans_italic_macroman/NotoSans-Italic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Assets/css/1-tools/web_fonts/notosans_italic_macroman/NotoSans-Italic-webfont.svg#svgSinkinSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./Assets/css/1-tools/web_fonts/notosans_bold_macroman/NotoSans-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Assets/css/1-tools/web_fonts/notosans_bold_macroman/NotoSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/css/1-tools/web_fonts/notosans_bold_macroman/NotoSans-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Assets/css/1-tools/web_fonts/notosans_bold_macroman/NotoSans-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Assets/css/1-tools/web_fonts/notosans_bold_macroman/NotoSans-Bold-webfont.svg#svgSinkinSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./Assets/css/1-tools/web_fonts/notosans_bolditalic_macroman/NotoSans-BoldItalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Assets/css/1-tools/web_fonts/notosans_bolditalic_macroman/NotoSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Assets/css/1-tools/web_fonts/notosans_bolditalic_macroman/NotoSans-BoldItalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./Assets/css/1-tools/web_fonts/notosans_bolditalic_macroman/NotoSans-BoldItalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./Assets/css/1-tools/web_fonts/notosans_bolditalic_macroman/NotoSans-BoldItalic-webfont.svg#svgSinkinSans') format('svg'); /* Legacy iOS */
}
